.add-service {
    width: 100%
}
.form-add-service {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.block {
    width: 45%;
    display: flex;
    flex-direction: column;
    
}
#config {
margin-top: 10px;
margin-bottom: 40px;
}