.customer-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.customer-name-title {
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.search {
  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.btn-float-right {
  width: 100%;
  display:flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.table-customers-head {
  background-color: #BCDBFF;
}

.radiobtn {
  margin-right: 24px;
}

.radiolable {
  padding-right: 8px;
}

.sub-title {
  display: flex;
  flex-direction: row;
}

#info {
  width: 100%
}

.customer-title {
  display: flex;
}
.dogs-info {
margin-top: 40px;
}

.contact-info {
 border-bottom: 1px solid rgba(0,0,0,.1);
}

.sub-title img {
  margin-right: 10px;
}

.info {
  padding-left: 50px;
}

ul{
  list-style-type: none;
}