footer {
  box-sizing: border-box;
  margin-top: 10rem;
  padding: 2.5rem 5rem;
  min-width: 100%;
  background-color: #bcdbffbb;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer-logo img {
  height: 4rem;
}

.footer-socials-container {
  width: 6rem;
  display: flex;
  justify-content: space-between;
}

.footer-socials-container:hover {
  cursor: pointer;
}

.footer-hours {
  font-size: 14px;
}
