header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
}

.navbar {
  /* margin: 0 auto; */
}

.navbar-link {
  margin: 0 0.5rem;
  text-transform: uppercase;
  color: inherit;
}
