.services-container {
  background: #ff84371b;
  border-radius: 8px;
}

.service-card-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-bottom: 3rem;
}

.service-card {
  border-radius: 10px;
  background-color: #fff;
  padding: 2rem 2rem;
  max-width: 23rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.services-heading {
  text-align: center;
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 2rem 0 4rem;
}

.service-card-title {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.service-card-deets {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.btn-book {
  border: 1px solid rgb(222, 222, 222);
  background-color: #fff;
  padding: 0.5rem 1rem;
  margin: 1.5rem 0 0;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.btn-book:hover {
  background-color: #ff843721;
  border: 1px solid #ff843721;
}
